// KSAS
#app > main > .content .ksas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  gap: $SPACE;
}

// KSA
#app > main > .content .ksas > .ksa {
  display: flex;
  flex-direction: column;
  border-radius: calc($SPACE / 2);
  background: $color-500;
  margin: 1rem 0;
  a {
    color: $color-100;
    &:hover {
      opacity: .8;
    }
  }
}

// HEADER
#app > main > .content .ksas > .ksa > .dropdown > header {
  cursor: pointer;
  border-top-left-radius: math.div($SPACE, 2);
  border-top-right-radius: math.div($SPACE, 2);
  &:hover {
    background: $color-400;
  }
}

// HEADER / PROGRESS
#app > main > .content .ksas > .ksa .progress {
  height: .7em;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  border-top-left-radius: math.div($SPACE, 2);
  border-top-right-radius: math.div($SPACE, 2);
}

// HEADER / INFOS 
#app > main > .content .ksas > .ksa .infos  {
  display: flex;
  justify-content: space-between;
  @include bold;
  font-size: .8em;
  padding: math.div($SPACE, 4) math.div($SPACE, 4) math.div($SPACE, 3);
  // margin-bottom: $SPACE;
  i {
    margin-right: math.div($SPACE, 4);
  }
}

// HEADER / DROPDOWN
.dropdown {
  .dropdown-menu {
    top: -10px;
    width: 100%;
  }
}

// MAIN
#app > main > .content .ksas > .ksa > main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: $SPACE;
  text-transform: none;
  p {
    @include bold;
    font-size: 1.2em;
  }

}

// FOOTER
#app > main > .content .ksas > .ksa > footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
