// KSAS
#app > main > .content .ksas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  gap: $SPACE;
}

// KSA
#app > main > .content .ksas > .ksa {
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: calc($SPACE / 2);
  padding: $SPACE;
  background: $color-500;
  a {
    color: $color-100;
    &:hover {
      opacity: .8;
    }
  }
}

// KSA HEADER
#app > main > .content .ksas > .ksa > header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text {
    font-size: .7em;
    @include bold;
  }
  .percent {
    font-size: .9em;
    @include bold;
  }
  i {
    display: block;
    padding: math.div($SPACE, 3);
  }
}

// KSA MAIN
#app > main > .content .ksas > .ksa > main {
  flex: auto;
  flex-direction: column;
  text-transform: none;
  padding: $SPACE 0;
  @include regular;
  font-size: 1em;
}

// KSA footer
#app > main > .content .ksas > .ksa > footer {
  flex: 0;
  input[type=range] {
    width: 100%;
    cursor: pointer;
  }
}