$color-600: #010409;
$color-500: #191E23;
$color-400: #20262D;

$color-300: #ffffff55;
$color-200: #ffffff99;
$color-100: #ffffff;

$status-1: #DC3545;
$status-2: #FE7A15;
$status-3: #F8D90F;
$status-4: #D3DD18;
$status-5: #0191b4;
$status-6: #FFFFFF;

.status-1 {
  color: $status-1;
}
.status-2 {
  color: $status-2;
}
.status-3 {
  color: $status-3;
}
.status-4 {
  color: $status-4;
}
.status-5 {
  color: $status-5;
}
.status-6 {
  color: $status-6;
}
