* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  color: red;
  background: $color-600;
}

body {
  text-transform: uppercase;
  color: $color-100;
  @include regular;
}

a {
  text-decoration: none;
}

strong {
  @include bold;
}

h2 {
  @include regular;
  padding: $SPACE;
  font-size: .85em;
}


.modal {
  background: $color-300;
  .modal-content {
    background: $color-500;
  }
  .modal-header {
    color: $color-100;
    .btn-close {
      color: $color-100 !important;
    }
  }
  .modal-title {
    @include bold;
  }
}
